.zhcl{
    background-color: #3062CC !important;
    color: #FFFFFF !important; 
    font-size: small !important; 
    border-radius: 20px !important; 
    padding: 4px 10px !important;
	transform: translateY(0.5px) !important;
}

.clz{
    background-color: #FBCA04 !important;
    color: #000000 !important; 
    font-size: small !important; 
    border-radius: 20px !important; 
    padding: 4px 10px !important;
	transform: translateY(0.5px) !important;
}

.tc{
    background-color: #F1F1F1 !important;
    color: #000000 !important; 
    font-size: small !important; 
    border-radius: 20px !important; 
    padding: 4px 10px !important;
	transform: translateY(0.5px) !important;
}