.right-container{
    margin-right: 80px;
    background-color: #A51984;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    box-shadow: 0px 0px 45px 2px rgb(197, 108, 184, 0.4);
    transition: background-color 0.3s ease;
}

.right-container:hover{
    background-color: #C56CB8;
    transition: background-color 0.3s ease;
}

.layui-icon{
    font-size: 32px !important;
    line-height: 50px;
    text-align: left;
    color:#F1DEDB;
}

.icon-text{
    font-size: 24px;
    line-height: 32px;
    margin-left: 5px;
    color: #F1DEDB;
}