body {
  background-color: #0d1117;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
div#title {
  display: flex;
  justify-content: center;
  align-items: end;
}
div#title h1 {
  color: #e0e0e0;
}
div#title h2 {
  margin-left: 10px;
  color: #696c6e;
  font-weight: 400;
  font-style: italic;
}
div#content {
  margin-left: 200px;
  margin-right: 200px;
  color: #e0e0e0;
}
/* index.html */
div#minecraft h1 content {
  position: relative;
  top: -10px;
}
div#minecraft h1 img {
  width: 45px;
}
div#launcher h1 content {
  position: relative;
  top: -12px;
}
div#launcher h1 img {
  width: 45px;
}
div#hardSearch h1 content {
  position: relative;
  top: -12px;
}
div#hardSearch h1 img {
  width: 45px;
}
div#yszy h1 content {
  position: relative;
  top: -12px;
}
div#yszy h1 img {
  width: 45px;
}
div#yszy div.important-hint {
  padding-left: 20px;
  margin-bottom: 20px;
  position: relative;
}
div#yszy div.important-hint p.markdown-alert-title {
  fill: #8957e5;
  color: #8957e5;
}
div#yszy div.important-hint p.markdown-alert-title span {
  position: relative;
  top: -4px;
  left: 5px;
}
div#yszy div.important-hint::before {
  content: "";
  background-color: #8957e5;
  width: 4px;
  height: 70px;
  display: block;
  position: absolute;
  left: 0;
  top: -5px;
}
a.ghAt {
  color: #e0e0e0;
  font-weight: 700;
  text-decoration: none;
}
a.ghAt:hover {
  color: #e0e0e0;
  opacity: 0.9;
}
a.ghAt:active {
  color: #e0e0e0;
  opacity: 0.8;
}
div#updateLog h5 {
  padding-bottom: 7px;
  border-bottom: 1px solid #696c6e;
}
div#footmark div {
  color: #696c6e;
  font-size: 12px;
  padding: 5px 5px 5px 7px;
  margin: 0;
}
div#footmark div.focus {
  color: #fff;
  border-radius: 5px;
  border: 2px solid #1f6feb;
  padding: 5px;
}
/* guide.html */
div#content h3 {
  font-size: 2em;
  padding-bottom: 7px;
  border-bottom: 1px solid #696c6e;
}
div#content span.command {
  padding: 2px 4px 4px 4px;
  border-radius: 2px;
  background-color: #2b2f36;
  cursor: pointer;
}
div#content div#titleExample {
  margin-left: 40px;
}
div#content div#titleExample p {
  margin: 16px 0 5px 0;
}
div#content div#titleExample .badge {
  background-color: #ff5722;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0 6px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  border-radius: 4px;
  line-height: 18px;
}
div#content div#titleExample .badge.ok {
  background-color: #4caf50;
}
/* Public */
.refer {
  padding: 3px;
  cursor: pointer;
  border-radius: 1px;
  color: #e0e0e0;
}
.refer.issue {
  background-color: rgba(66, 164, 245, 0.348);
}
.refer.disc {
  background-color: rgba(0, 150, 135, 0.478);
}
.refer.pr {
  background-color: rgba(255, 85, 0, 0.478);
}
.refer.link {
  background-color: rgba(255, 191, 0, 0.478);
}
.refer.inhelp {
  background-color: rgba(252, 30, 30, 0.408);
}
.refer.more {
  background-color: rgba(165, 71, 241, 0.302);
}
.label {
  display: flex;
  justify-self: center;
  width: max-content;
  min-height: 22px;
  line-height: 22px;
  max-height: 22px;
  padding: 0 5.8px 0 7px;
  border-radius: 10px;
  font-size: 12px;
  border: 1px solid;
}
.label.tpz {
  background-color: #3062cc2e;
  color: #8ba8e3;
  border-color: #8ba8e3;
  min-width: 38px;
}
.label.clz {
  background-color: #3f3a1d;
  color: #fac905;
  border-color: #fac905;
  min-width: 38px;
}
.label.dsf {
  background-color: #36393e;
  color: #f0f0f0;
  border-color: #f0f0f0;
  min-width: 38px;
}
.label.tc {
  background-color: #36393e;
  color: #f0f0f0;
  border-color: #f0f0f0;
  min-width: 24px;
}
.label.xysqbz {
  background-color: #39383d;
  color: #ffe6e6;
  border-color: #ffe6e6;
  min-width: 72px;
}
tip,
a {
  color: #2f81f7;
  cursor: pointer;
}
tip:hover,
a:hover {
  color: #206fd4;
}
tip {
  position: relative;
  top: -7px;
  font-size: 12px;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #e0e0e0;
  padding: 14px 8px;
  text-align: center;
}
th.center,
td.center {
  display: grid;
  border: none;
}
th.border,
td.border {
  border-top: 1px solid #e0e0e0;
}
th.border-bottom,
td.border-bottom {
  border-bottom: 1px solid #e0e0e0;
}
.flex {
  display: flex;
  justify-content: center;
}
.canselect {
  user-select: text;
}
