body{
    background-color: #0D1117;
    user-select: none;
}

::-webkit-scrollbar{
    display: none;
}

div#title{
    display: flex;
    justify-content: center;
    align-items: end;
    h1{
        color: #e0e0e0;
    }
    h2{
        margin-left: 10px;
        color: #696c6e;
        font-weight: 400;
        font-style: italic;
    }
}

div#content{
    margin-left: 200px;
    margin-right: 200px;
    color: #e0e0e0;
}

/* index.html */
div#minecraft{
    h1{
        content{
            position: relative;
            top: -10px;
        }
        img{
            width: 45px;
        }
    }
}

div#launcher{
    h1{
        content{
            position: relative;
            top: -12px;
        }
        img{
            width: 45px;
        }
    }
}

div#hardSearch{
    h1{
        content{
            position: relative;
            top: -12px;
        }
        img{
            width: 45px;
        }
    }
}

div#updateLog{
    h5{
        padding-bottom: 7px;
        border-bottom: 1px solid #696c6e;
    }
}

div#footmark div{
    color: #696C6E;
    font-size: 12px;
    padding: 5px 5px 5px 7px;
    margin: 0;
    &.focus{
        color: #fff;
        border-radius: 5px;
        border: 2px solid #1F6FEB;
        padding: 5px;
    }
}

/* guide.html */
div#content{
    h3{
        font-size: 2em;
        padding-bottom: 7px;
        border-bottom: 1px solid #696c6e;
    }
    span#command{
        padding: 2px 4px 4px 4px;
        border-radius: 2px;
        background-color: #2b2f36;
        cursor: pointer;
    }
    div#titleExample{
        margin-left: 40px;
        p{
            margin: 16px 0 5px 0;
        }
        .badge{
            background-color: #ff5722;
            color: #fff;
            position: relative;
            display: inline-block;
            padding: 0 6px;
            font-size: 12px;
            text-align: center;
            margin-right: 5px;
            border-radius: 4px;
            line-height: 18px;
            &.ok{ background-color: #4caf50; }
        }
    }
}

/* Public */
// 链接分类
.refer{
    padding: 3px;
    cursor: pointer;
    border-radius: 1px;
    color: #e0e0e0;
    &.issue { background-color: rgba(66, 164, 245, 0.348); }
    &.disc  { background-color: rgba(0, 150, 135, 0.478);  }
    &.link  { background-color: rgba(255, 191, 0, 0.478); }
    &.inhelp{ background-color: rgba(252, 30, 30, 0.408);  }
    &.more  { background-color: rgba(165, 71, 241, 0.302); }
}

// label
.label{
    display: flex;
    justify-self: center;
    width: max-content;
    min-height: 22px;
    line-height: 22px;
    max-height: 22px;
    padding: 0 5.8px 0 7px;
    border-radius: 10px;
    font-size: 12px;
    border: 1px solid;
    &.tpz  { background-color: #3062CC2E; color: #8BA8E3; border-color: #8BA8E3; min-width: 38px; }
    &.clz   { background-color: #3F3A1D;   color: #FAC905; border-color: #FAC905; min-width: 38px; }
    &.dsf   { background-color: #36393E;   color: #f0f0f0; border-color: #f0f0f0; min-width: 38px; }
    &.tc    { background-color: #36393E;   color: #f0f0f0; border-color: #f0f0f0; min-width: 24px; }
    &.xysqbz{ background-color: #39383D;   color: #ffe6e6; border-color: #ffe6e6; min-width: 72px; }
}

// 脚注
tip, a{
    color: #2f81f7;
    cursor: pointer;
    &:hover{
        color: #206FD4;
    }
}

tip{
    position: relative;
    top: -7px;
    font-size: 12px;
}

// 表格
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #e0e0e0;
    padding: 14px 8px;
    text-align: center;
    &.center{ display:grid; border: none; }
    &.border{ border-top: 1px solid #e0e0e0; }
}

// 样式覆盖
.flex{display:flex; justify-content:center;}
.canselect{user-select: text} 